body {
    background-color: #131313;
}
main {
    max-width: 1171px;
    max-height: 552.28px;
    margin: 0 auto;
    padding-top: 107px;
}
.hero {
    display: flex;
    gap: 50px;
}

h3, a {
    color: #E3B873;
    font-family: "Yeseva one";
    text-transform: uppercase;
    margin: 0;
}

p {
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-weight: 400;
}

.block_one {
    max-width: 442px;
    display: flex;
    flex-direction: column;
    max-width: 442px;
}

.block_one_grid-info {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding-bottom: 92.92px;
    gap: 34px;
    max-width: 369px;
}

.block_two {
    display: flex;
    flex-direction: column;
    gap: 45px;
    min-width: 0;
}

.block_address-info {
    display: flex !important;
    gap: 60.5px !important;
    max-width: 623px;
}

.block_one_title {
    display: flex;
    width: 253px;
    height: 66px;
    padding-bottom: 34px;
    padding-top: 69.36px;
}

.block_one_title-text {
    margin: 0;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    letter-spacing: -1.89px;
    text-transform: uppercase;
}

.block_one_info {
    margin: 0;
    padding-bottom: 42px;
}

.block_one_info-text {
    font-size: 14px;
    font-style: normal;
    line-height: 191%;
    margin: 0;
}

.grid_block_title {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    line-height: 138.6%;
    text-transform: uppercase;
    max-width: 213px;
    letter-spacing: 0.80px;
}

.one_block,
.two_block,
.third_block {
    max-width: 161px;
    text-wrap: nowrap;
}

.grid_block_text {
    font-size: 13px;
    line-height: 163.7%;
    margin: 0;
    padding-top: 9px;
    max-width: 99px;
}

.grid_block_title_for {
    max-width: 134px;
}

.block-arrow {
    display: flex;
    max-height: 14px;
}

.block-point {
    display: flex;
    flex-direction: row;
    gap: 17.54px;
}

.arrow-back {
    padding-right: 29.5px;
    cursor: pointer;
}

.arrow-next {
    padding-left: 29.5px;
    cursor: pointer;
}

.arrow-back:hover {
    transform: scale(1.15);
}

.arrow-next:hover {
    transform: scale(1.15);
}

.address-text {
    font-size: 14px;
    line-height: 138.6%;
    white-space: nowrap;
    font-size: 14px;
    color: rgb(100%, 100%, 100%, 30%);
    padding-bottom: 0;
    border: none;
    text-decoration: none;
}

.address_active {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6.68px;
    margin: 0;
    transform: none;
}  

.image-slider__image {
    max-width: 100%;
}
    
.line {
    border-bottom: 2px solid #E3B873;
    margin: 0;
    padding-top: 53.84px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.slider__images .image {
    background-size: cover;
    background-position: center center;
    width: 679px;
    height: 442px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
}

.slider__images .image.active {
    opacity: 1;
}

.slider {
    position: relative;
}

.slider__dots {
    display: flex;
    justify-content: center;
    gap: 17.54px;
    left: 0;
    bottom: -20px;
    padding-top: 1.46px;
    width: 100%;
  }
  
  .slider__dots-item {
    width: 10px;
    height: 10px;
    background: rgb(100%, 100%, 100%, 30%);
    border-radius: 50%;
    margin: 0 ;
    cursor: pointer;
    transition: background 0.4s ease;
  }
  
  .slider__dots-item:hover, .slider__dots-item.active {
    background: #fff;
  }